* {
    font-family: Roboto, sans-serif;
}

@import "../generated/leptonic/leptonic-themes";

[data-theme="light"] {
    --brand-color: #e66956;
    --typography-p-margin: 0.1em 0 0.1em 0 ;
    --typography-h3-margin: 0.5em 0 0.5em 0 ;
}

[data-theme="dark"] {
    --brand-color: #e66956;
    --typography-p-margin: 0.1em 0 0.1em 0 ;
    --typography-h3-margin: 0.5em 0 0.5em 0 ;
}
