* {
    font-family: Roboto, sans-serif;
}

@import "./leptonic/leptonic-themes";

[data-theme="light"] {
    --brand-color: #3267ad;
    --typography-p-margin: 0.1em 0 0.1em 0 ;
    --typography-h3-margin: 0.5em 0 0.5em 0 ;
}

[data-theme="dark"] {
    --brand-color: #3267ad;
    --typography-p-margin: 0.1em 0 0.1em 0 ;
    --typography-h3-margin: 0.5em 0 0.5em 0 ;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efebe8 /* var(--box-background-color) */;
}
