.thaw-config-provider {
    font-size: 12px;
}

.color-scheme--light {
    --brand-color: #3267ad;
    --app-background-color: #efebe8;
    --table-wrapper-box-shadow-color: #666666;
    --table-background-color: white;
    --table-background-color-selected: color-mix(in srgb, white 70%, var(--brand-color));
    --table-background-color-armyrule: color-mix(in srgb, white 70%, #dddd88);
    --table-border-color: #e0e0e0;
    --drawer-background-color: #f9f7f6;

    .thaw-switch__input:enabled:not(:checked) ~ .thaw-switch__indicator {
        color: white;

        // mimic dark theme, so only `color` changes
        --colorCompoundBrandBackground: #479ef5;
        background-color: var(--colorCompoundBrandBackground);
        border-color: var(--colorTransparentStroke);
    }
}

.color-scheme--dark {
    --brand-color: #3267ad;
    --app-background-color: #1e1c1c;
    --table-wrapper-box-shadow-color: #101010;
    --table-background-color: #202020;
    --table-background-color-selected: color-mix(in srgb, black 70%, var(--brand-color));
    --table-background-color-armyrule: #dddd88;
    --table-border-color: #4c4c4c;
    --drawer-background-color: #323232;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.1em 0 0.1em 0;
}

.app {
    min-height: 100vh;
}

.app-bar {
    background: var(--brand-color);
    color: white;
    padding: 0 1em;
    h1 {
        font-size: x-large;
        margin: 0;
    }
}

.app-contents {
    background-color: var(--app-background-color);
    height: fit-content;
    padding: 0 1em 1em 1em;
}

.sample-matchups {
    width: 100%;

    h3 {
        margin: 0.5em 0 0.5em 0;
    }
}

table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    transition: height 0.5s ease;
    border-radius: 0.5em;
    // FIXME: shadow is cropped horizontally
    box-shadow: -2px 3px 15px -6px var(--table-wrapper-box-shadow-color);

    table {
        background-color: var(--table-background-color);
        width: 100%;
        line-height: 2;

        border-collapse: collapse;
        td {
            border-bottom: 0.05em solid var(--table-border-color);
            padding: 0.2em 1em;
        }
    }
}

.army_view {
    align-items: flex-start;

    .army_list {
        h2 {
            margin: 0.5em 0 0.2em 0;
            display: flex;
            justify-content: space-between;

            a {
                &:link, &:visited {
                    color: var(--box-color);
                }
            }
        }
        button.rm_army {
            padding: 0;
            margin-left: 0.2em;
            border: 0;
            height: 1em;
            width: 1em;
            border-radius: 0.5em;
        }
    }
}

.army_details.thaw-overlay-drawer {
    padding: 0.2em;
    position: fixed;
    top: 0;
    background-color: color-mix(in srgb,
                                var(--drawer-background-color),
                                rgb(100% 100%  100% / 80%));
    border: 1px solid gray;
    width: 40%;
    max-height: calc(100vh - 1px);

    .thaw-drawer-body {
        padding: 0;

        h3 {
            margin: 0 0 0.2em 0;
            button {
                min-width: 0;
                div.name {
                    padding: 0.2em 0.5em;
                }
            }
            .thaw-space__item { align-self: center; }
        }

        span.unit {
            font-weight: bold;
        }

        table-wrapper {
            // FIXME: not ideal but how to do better?  Should be sufficient anyway
            flex-shrink: 0;
        }

        table {
            background-color: color-mix(in srgb,
                                        var(--table-background-color),
                                        rgb(100% 100%  100% / 20%));
            line-height: 1.35;
            td {
                text-align: center;
                padding: 0;
            }
            // FIXME use more explicit qualifier than child number
            td:nth-child(2),
            td:nth-child(3) {
                width: 2em;
            }
        }

        &.thaw-overlay-drawer--position-right {
            right: 0;
        }
        &.thaw-overlay-drawer--position-left {
            left: 0;
        }
    }
}

specialrules-def-list {
    overflow-y: scroll;

    p {
        margin: 0.1em 0 0.1em 0;

        &.army {
            background-color: var(--table-background-color-armyrule);
        }
    }
}

tr.selected {
    background-color: var(--table-background-color-selected);
}

special-rule {
    text-decoration: underline dotted;
}

rule-name {
    font-weight: bold;
}
