* {
    font-family: Roboto, sans-serif;
}

@import "./leptonic/leptonic-themes";

[data-theme="light"] {
    --brand-color: #3267ad;
    --typography-p-margin: 0.1em 0 0.1em 0 ;
    --typography-h3-margin: 0.5em 0 0.5em 0 ;
    --table-background-color-selected: color-mix(in srgb, white 70%, var(--brand-color));
}

[data-theme="dark"] {
    --brand-color: #3267ad;
    --typography-p-margin: 0.1em 0 0.1em 0 ;
    --typography-h3-margin: 0.5em 0 0.5em 0 ;
    --table-background-color-selected: color-mix(in srgb, black 70%, var(--brand-color));
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

leptonic-app-bar {
    background: var(--brand-color);
    color: white;
    padding: 0 1em;
}

leptonic-drawer.army_details {
    overflow: scroll;
    padding: 0.5em;
    position: fixed;
    top: var(--app-bar-height);
    background-color: color-mix(in srgb,
                                var(--drawer-background-color),
                                rgb(100% 100%  100% / 80%));
    border: 1px solid gray;
    width: 40%;
}
leptonic-drawer.right {
    right: 0;
}
leptonic-drawer.left {
    left: 0;
}

leptonic-drawer.army_details leptonic-table {
    background-color: color-mix(in srgb,
                                var(--table-background-color),
                                rgb(100% 100%  100% / 20%));
    leptonic-table-cell {
        text-align: center;
        padding: 0.75em 0.3em;
    }
    // FIXME use more explicit qualifier than child number
    leptonic-table-cell:nth-child(2),
    leptonic-table-cell:nth-child(3) {
        width: 2em;
    }
}

leptonic-table-row.selected {
    background-color: var(--table-background-color-selected);
}

special-rule {
    text-decoration: underline dotted
}
