.color-scheme--light {
    --brand-color: #3267ad;
    --app-background-color: #efebe8;
    --table-wrapper-box-shadow-color: #666666;
    --table-background-color: white;
    --table-background-color-selected: color-mix(in srgb, white 70%, var(--brand-color));
    --table-border-color: #e0e0e0;
    --drawer-background-color: #f9f7f6;
}

.color-scheme--dark {
    --brand-color: #3267ad;
    --app-background-color: #1e1c1c;
    --table-wrapper-box-shadow-color: #101010;
    --table-background-color: #202020;
    --table-background-color-selected: color-mix(in srgb, black 70%, var(--brand-color));
    --table-border-color: #4c4c4c;
    --drawer-background-color: #323232;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
}

.app-bar {
    background: var(--brand-color);
    color: white;
    padding: 0 1em;
    h1 {
        margin: 0;
    }
}

.app-contents {
    background-color: var(--app-background-color);
    height: fit-content;
    padding: 0 1em 1em 1em;
}

h3 {
    margin: 0.5em 0 0.5em 0;
}

table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    transition: height 0.5s ease;
    border-radius: 0.5em;
    // FIXME: shadow is cropped horizontally
    box-shadow: -2px 3px 15px -6px var(--table-wrapper-box-shadow-color);

    table {
        background-color: var(--table-background-color);
        width: 100%;
        line-height: 2;

        border-collapse: collapse;
        td {
            border-bottom: 0.05em solid var(--table-border-color);
            padding: 0.75em 1em;
        }
    }
}

.army_view {
    align-items: flex-start;

    .army_list {
        h2 {
            a {
                &:link, &:visited {
                    color: var(--box-color);
                }
            }
        }
        button.rm_army {
            padding: 0;
            margin-left: 0.2em;
            border: 0;
            height: 1em;
            width: 1em;
            border-radius: 0.5em;
        }
    }
}

.thaw-drawer.army_details {
    .thaw-card {
        background-color: transparent;
    }

    padding: 0.2em;
    position: fixed;
    top: 0;
    background-color: color-mix(in srgb,
                                var(--drawer-background-color),
                                rgb(100% 100%  100% / 80%));
    border: 1px solid gray;
    width: 40%;
    max-height: calc(100vh - 1px);

    h3 {
        margin: 0 0 0.2em 0;
        button div.name {
            padding: 0.2em 0.5em;
        }
    }

    span.unit {
        font-weight: bold;
    }

    leptonic-table-container {
        // FIXME: not ideal but how to do better?  Should be sufficient anyway
        flex-shrink: 0;
    }

    leptonic-table {
        background-color: color-mix(in srgb,
                                    var(--table-background-color),
                                    rgb(100% 100%  100% / 20%));
        leptonic-table-cell {
            text-align: center;
            padding: 0.1em;
        }
        // FIXME use more explicit qualifier than child number
        leptonic-table-cell:nth-child(2),
        leptonic-table-cell:nth-child(3) {
            width: 2em;
        }
    }

    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }
}

specialrules-def-list {
    overflow-y: scroll;

    p {
        margin: 0.1em 0 0.1em 0;
    }
}

tr.selected {
    background-color: var(--table-background-color-selected);
}

special-rule {
    text-decoration: underline dotted;
}

rule-name {
    font-weight: bold;
}
