name: ci
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@1.88
      with:
        targets: wasm32-unknown-unknown

    # get prebuilt trunk instead of spending 5min+ of CI time
    - uses: jetli/trunk-action@v0.5.1
      #with:
      #  version: 'v0.18.4'

    - name: Build
      run: trunk build --verbose --release --public-url "./"
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: static-webapp
        path: ./dist
